# Git
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log

# Dependencies
node_modules
vendor/

# Go artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build outputs
dist
build

# Environment files
.env
.env.local
.env.*.local

# Testing
coverage

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore
